.title{
    color:aquamarine;
    text-align: center;
    font-size: 3rem;
    font-family: cursive;
}


.characters {
    padding: 50px;
}

.container-characters {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    padding: 0 0 50px 0;
}

.character-container {
    display: flex;
    background-color: #3c3e44;
    margin: 20px 10px;
    border-radius: 10px;
    align-items: flex-start;
}

.character-container div:first-child {
    height: 100%;
}

.character-container div:last-child {
    text-align: left;
    padding-left: 20px;
}

.character-container div:last-child p {
    text-align: left;
}

.character-container p {
    font-size: 17px;
    text-align: center;
    margin: 5px 0;
}

p{
    color: #fff;
}