<div class="contenedor">
    <h1 class="title"> Riquelme & Morticio</h1>

</div>
<div class="characters">
    <div class="container-characters">
        <div class="character-container" *ngFor="let personaje of personajes" ><!--ng for para invocar el objecto personajes-->
            <img class="" src={{personaje.image}}> <!--pintar la imagen de los personajes-->
            <!--Se invoca el personaje con la interpolación-->
            <li>
                <p> Nombre: {{personaje.name}}</p><br><!--pintar el nombre de los personajes-->
                <p> Status: {{personaje.status}}</p><br>
                <p> Especie: {{personaje.species}}</p><br>
                <p> Genero: {{personaje.gender}}</p>
            </li>
        </div>
    </div>
</div>